@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #d3dae8;
$light-background-header: #d3dae8;
$light-color: #252633;
$light-color-variant: black;
$light-color-secondary: #aeb3bf;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #090a11;
$dark-background-secondary: #252633;
$dark-background-header: #171921;
$dark-color: #d3dae8;
$dark-color-variant: white;
$dark-color-secondary: #aeb3bf;
$dark-border-color: #414259;
$dark-table-color: #414259;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
